*~
*.annot
*.cmi
*.cmo
*.cmx
*.o
*.cma
*.cmxa
*.cmxs
*.a
*_[btjv].mli
*_[btjv].ml
*.mldylib
*.mllib
*.exe
META
test/
_build/
src/utf8uni.ml
configure
*.docdir
*.odocl
*.native
myocamlbuild.ml
setup.cmt
setup.data
setup.log
setup.ml
_tags
AUTHORS.md
